@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap');
/************
  Fonts used:

  Paragraph/body text:
    font-family: 'Roboto', sans-serif;

  Headings:
    font-family: 'Satisfy', cursive;
*************/


/************Simple Browser Reset*************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Satisfy', cursive; 
}

/************Main Header Styles*************/
header {
  border-top: 5px solid #11826D;
  box-shadow: 0 2px 3px #302825;
}

.main-header {
  background: url(../images/hero-img.jpg) center/cover no-repeat fixed;
  min-height: 600px;
}

.main-header h1,
.main-header p {
  color: #fff8f6;
  margin: 2rem auto;
  text-align: center;
  text-shadow: 0 0 10px #25120b;
  width: 35%;
}

.main-header h1 {
  font-size: 6rem;
}

.main-header p {
  font: 2rem 'Satisfy', cursive;
  margin-bottom: 4rem;
}

.cta {
  background-color: #11826D;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  display: block;
  color: #fff8f6;
  font-size: 2rem;    
  margin: 1rem auto;
  padding: 1rem;
  text-decoration: none;
  width: 150px;
}

.cta:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

/************Member Header Styles*************/
.member-header {
  position: relative;
}

.member-header h1 {
  font-size: 2.5rem;
  position: absolute;
  right: 45%;
  top: 10%;
}

.member-header h1 a {
  color: #0D0000;
  text-decoration: none;
}


/************Navigation*************/
nav {
  background-color: rgba(250, 242, 240, 0.7);
  box-shadow: 0 3px 5px #25120b;
  padding: 1.5rem 3rem;
}

nav a {
  color: #0D0000;
  font: 1.5rem 'Roboto', sans-serif;
  text-decoration: none;
}

nav .login {
  float: right;
  margin-top: -10px;
}

.login a {
  border-radius: 5px;
  box-shadow: 0 1px 3px #0D0000;
  display: inline-block;
  margin: 0 1rem;
  padding: .5rem 1rem;
  text-align: center;
  min-width: 150px;
}

.login a:first-of-type {
  background-color: #11826D;
  color: #fff8f6;
}

.login a:first-of-type:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

.login a:last-of-type {
  border: 1px solid #25120b;
}

a:hover {
  color: #11826D;
}

/************Main Content*************/
main {
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
  padding: 1rem;
  width: 85%;
}

.flex {
  display: flex;
  margin-top: -80px;
  width: 100%;
}

.tile {
  background-color: #fff8f6;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  flex: 1;
  padding: 0 .5rem;
  padding-bottom: 1rem;
  margin: .5rem;
  min-height: 300px;
  text-align: center;
}

.tile h2 {
  color: #11826D;
  font-size: 2.5rem;
  margin: 1rem auto;
}

.tile p {
  color: #302825;
  line-height: 1.5rem;
  margin: .5rem auto;
}

.tile a {
  color: #11826D;
  font-weight: bold;
  text-decoration: none;
}

.tile img {
  box-shadow: 0 0 3px #25120b;
  margin: 1rem auto;
}

.large {
  flex: none;
  padding: 1rem;
}

.large h2 {
  margin: 1.5rem;
}

.large .cta {
  color: #fff8f6;
  margin-top: 2rem;
  width: 200px;
}

.large .cta:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

.members h2 {
  font-size: 2.5rem;
  margin: 1rem;
}

main .add {
  background-color: #11826D;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  color: #fff8f6;
  margin-top: 2.5rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

main .add:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

.members .add {
  background-color: #11826D;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  color: #fff8f6;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

.members .add:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

.show {
  margin: 2rem;
  list-style: none;
}

/************Table Styles*************/
table {
  border-collapse: collapse;
  margin-top: 2rem;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

th,
td {
  padding: 1rem; 
}

td a {
  background-color: #11826D;
  border-radius: 5px;
  box-shadow: 0 1px 5px #25120b;
  color: #fff8f6;
  margin: auto 1rem;
  padding: 5px;
  text-decoration: none;
}

td a:hover {
  background-color: #E5FFF9;
  color: #11826D;
}

th {
  background-color: #0D0000;
  color: #fff8f6;
}

tr:nth-of-type(even) {
  background-color: #f8e3de;
}

/************Form Styles*************/
.sign-up h2 {
  font-size: 2.5rem;
  text-align: center;
}

.sign-up p {
  font-size: 1.5rem;
  text-align: center;
}

form {
  background-color: #fff8f6;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 50%;
}

form label {
  display: block;
  font-size: 1rem;
}

form input:not([type="submit"]) {
  background-color: #f8e3de;
  border: 1px solid #302825;
  border-radius: 5px;
  margin-bottom: 1rem;
  min-height: 1.5rem;
  padding: 0 .5rem;
}

form input:not([type="submit"]):focus {
  border: 1px solid #11826D;
}

form input[type="submit"] {
  background-color: #11826D;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  font-size: 1.2rem;
  color: #fff8f6;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
}

form input[type="submit"]:hover {
  background-color: #E5FFF9;
  color: #11826D;
  cursor: pointer;
}


/************Footer*************/
footer {
  background-color: #0D0000;
  color: #fff8f6;
  padding: 1rem;
}

footer p {
  margin: .5rem;
}

footer a {
  color: #46D4BA;
  text-decoration: none;
}


/************ Error Pages ************/
.error {
  font-size: 1.5rem;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  width: 50%;
}

.error p {
  padding: 1rem;
}

.error a {
  color: #11826D;
  font-weight: bold;
  text-decoration: none;
}

/************Media Queries*************/
/************768 width*************/
@media screen and (max-width: 768px) {
  .main-header h1,
  .main-header p {
    width: 75%;
  }

  main {
    width: 100%;
  }

  .flex {
    display: flex;
    margin-top: -80px;
    width: 100%;
  }
  
  .tile {
    background-color: #fff8f6;
    border-radius: 5px;
    box-shadow: 0 3px 5px #25120b;
    flex: 1;
    padding: 0 .5rem;
    padding-bottom: 1rem;
    margin: 0;
    min-height: 300px;
    text-align: center;
  }
  
  .tile h2 {
    color: #11826D;
    font-size: 2.5rem;
    margin: 1rem auto;
  }
  
  .tile p {
    color: #302825;
    line-height: 1.5rem;
    margin: .5rem auto;
  }
  
  .tile a {
    color: #11826D;
    font-weight: bold;
    text-decoration: none;
  }
  
  .tile img {
    box-shadow: 0 0 3px #25120b;
    margin: 1rem auto;
  }
  
}

/************360 width*************/
