@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap');
/************
  Fonts used:

  Paragraph/body text:
    font-family: 'Roboto', sans-serif;

  Headings:
    font-family: 'Satisfy', cursive;
*************/


/************Simple Browser Reset*************/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
p {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Satisfy', cursive; 
}

/************Main Header Styles*************/
.main-header {
  background: url(../images/hero-img.jpg) center/cover no-repeat;
  min-height: 500px;
}

.main-header h1,
.main-header p {
  color: #fff8f6;
  margin: 1rem auto;
  text-align: center;
  text-shadow: 0 0 10px #25120b;
  width: 35%;
}

.main-header h1 {
  font-size: 6rem;
}

.main-header p {
  font: 2rem 'Satisfy', cursive;
}

.cta {
  background-color: #6AC78B;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  display: block;
  color: #fff8f6;
  font-size: 2rem;    
  margin: 1rem auto;
  padding: 1.2rem;
  text-decoration: none;
  text-shadow: 0 0 5px #25120b;
  width: 120px;
}

/************Member Header Styles*************/
.member-header {
  position: relative;
}

.member-header h1 {
  font-size: 2rem;
  position: absolute;
  right: 50%;
  top: -20%;
}

.member-header h1 a {
  color: #0D0000;
  text-decoration: none;
}


/************Navigation*************/
nav {
  background-color: rgba(250, 242, 240, 0.7);
  box-shadow: 0 5px 5px #25120b;
  padding: 1rem 2rem;
}

nav a {
  color: #0D0000;
  font: 1.5rem 'Roboto', sans-serif;
  text-decoration: none;
}

nav .login {
  display: inline-block;
  float: right;
}

.login a {
  padding: 0 1rem;
}

/************Main Content*************/
main {
  background-color: #fff8f6;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
}

.flex {
  display: flex;
  margin-top: -80px;
  width: 100%;
}

.tile {
  background-color: #fff8f6;
  border-radius: 5px;
  box-shadow: 0 3px 5px #25120b;
  flex: 1;
  margin: .5rem;
  min-height: 300px;
  text-align: center;
}

.tile h2 {
  font-size: 2rem;
}

/************Table Styles*************/
table {
  border-collapse: collapse;
}

th,
td {
  padding: 1rem; 
}

td a {
  background-color: #0D0000;
  border-radius: 5px;
  color: #fff8f6;
  padding: 5px;
  text-decoration: none;
}

th {
  background-color: #0D0000;
  color: #fff8f6;
}

tr:nth-of-type(even) {
  background-color: #f0c6bc;
}

/************Footer*************/
footer {
  background-color: #0D0000;
  color: #fff8f6;
}

footer a {
  color: #6AC78B;
  text-decoration: none;
}