@import url('https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap');

/* Font family definitions */
$p-fonts: 'Roboto', sans-serif;
$h-fonts: 'Satisfy', cursive;

/* Color variable definitions */
$light-bg-body: #fff; 
$light-bg-content: #fff8f6;
$dark-bg-body: #1f1816;
$dark-bg-content: #3a3230;
$accent: #11826d;
$light-font: #25120b;
$dark-font: #fff8f6;

